* {
  font-family: "Inter", sans-serif;
  /* border: 2px solid lightgreen; */
}

.products {
  display: flex;
  background-color: "purple";
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 1060px;
}
.products a {
  padding: 1rem 0rem;
}

/* Single Product Styles*/
.sp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1060px;
  margin: 0 auto;
}

.sp .header {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  text-align: center;
}

.sp .content {
  width: 640px;
  display: flex;
  position: relative;
  flex-direction: column;
  border-radius: 80px;
  align-items: center;
  justify-content: center;
  background-color: #65615b;
  color: #d8c200;
  padding: 2rem;
}
.sp .content .tap-id {
  position: absolute;
  left: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background-color: #d8c200;
  color: #fd3333;
  /* padding: 8px; */
  width: 60px;
  height: 60px;
  border-radius: 50%;
  top: 40px;
}
.sp .content .tap-id p {
  margin: auto;
}
.sp .content .battery-volt {
  position: absolute;
  display: flex;
  align-items: center;
  right: 40px;
  top: 20px;
}
.sp .content .battery-volt img {
  transform: rotate(-90deg);
}
.sp .content .top {
  text-align: center;
}
.sp .content .top h2 {
  margin: 0px;
  margin-bottom: 4px;
}
.sp .content .top p {
  margin: 0;
  padding: 0;
  font-size: 12px;
}
.sp .content .sidebox {
  border: 2px dashed #d8c200;
  color: #d8c200;
  font-size: 11px;
  width: 140px;
  position: absolute;
  top: 140px;
  padding: 12px 4px;
  right: 40px;
}

.sp .content .sidebox p {
  margin: 0px;
}

.sp .content .battery-icon {
  display: flex;
  width: 240px;
  position: relative;
  flex-direction: column;
  /* padding: 40px 20px; */
  text-align: center;
  align-items: center;
  justify-content: center;
}
.sp .content .battery-icon img {
  transform: rotate(-90deg) scale(0.9);
  /* position: absolute; */
}

.sp .content .battery-icon .replace-battery {
  background-color: rgba(244, 20, 20, 0.3);
  color: white;
  margin: 0;
  position: absolute;
  top: 36%;
  padding: 4px 24px;
  z-index: 2;
}

.sp .content .battery-icon .percent-left {
  position: absolute;
  padding: 8px 4px;
  margin: 0;
  text-align: center;
  bottom: 20%;
  /* color: crimson; */
  z-index: 2;
}

.sp .content .horizontal-values-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px auto;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.sp .content .horizontal-values-bar .item {
  margin: 4px;
  text-align: center;
  width: 80px;
}

.sp .content .value {
  color: #fd3333;
  font-weight: bold;
}

.sp .content .message-user {
  text-align: center;
}
